@charset "UTF-8";

/**{border: 1px solid red;}*/
/*
	주요색상
	#43C35E
	#A1E1AE
	#C4EFCD
	#5FFF81
	#E1F9E6
*/

a{ color: black; text-decoration: none; }

body{
	background-color: #E1F9E6;
	color : black;
}

.list-group{
	display: flex;
}
.header{
	display: flex;
	justify-content: space-between;
	margin : 20px 0px;
}

.mainmenu{  /* 메인 메뉴 구역 */
	width: 60%; 
	display: flex;
    justify-content: center;
    margin: 10px !important;
    font-family: 'KimjungchulMyungjo-Bold';
    font-size: 20px;
} 

.mainmenu li{ margin: 0px 20px; list-style: none}

.submenu{   /* 서브 메뉴 구역 */
	width: 30%; 
	display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 10px;
    padding: 10px;
}
.mainlogo{ width: 10%; } /* 로고 박스 구역 */ 
.mainlogo img { width: 100%; } /* 로고 이미지 */








